/* Global styles */

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
/* body styles */
body {
  /* background-color: #fff; */
  background: transparent;
  font-family: "Montserrat", sans-serif;
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
  overflow: hidden;
}

/* login container styles */
.login-container {
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
  font-size: 2.5rem;
  margin-bottom: 40px;
  text-align: center;
  color: #363636;
  background: transparent;
}

/* login box styles */
.login-box {
  background: transparent(10%);
  backdrop-filter: blur(10px);
  border-radius: 10px;
  box-shadow: 0px 0px 20px rgba(0, 0, 0, 0.5);
  width: 360px;
  padding: 40px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

/* login heading styles */
.login-heading {
  text-align: center;
  font-size: 2rem;
  margin-bottom: 30px;
  color: #333;
  text-transform: uppercase;
  letter-spacing: 1px;
}
.form {
  width: 100%;
}
form {
  width: 100%;
}
form input {
  font-size: 16px !important;
  width: 100%;
}
/* input container styles */
.input-container {
  position: relative;
  margin-bottom: 20px;
}
.input-container label {
  position: absolute;
  top: 60%;
  left: 4%;
  transform: translateY(-50%);
  color: #162938;
  font-size: 20px;
  font-weight: 500;
  pointer-events: painted;
}

/* input field styles */
.input-field {
  border: none;
  border-bottom: 2px solid #ccc;
  width: 100%;
  padding: 10px 0;
  font-size: 1.2rem;
  background: transparent;
}

.icon {
  position: absolute;
  right: 5px;
  color: rgba(0, 0, 87, 0.7);
  font-size: 20px;
  line-height: 75px;
}
/* input field focus styles */
.input-field:focus {
  outline: none;
  border-color: #000000;
}

/* button styles */
.btn {
  background-color: #000000;
  border: none;
  color: #fff;
  font-size: 1.1rem;
  padding: 10px 20px;
  border-radius: 5px;
  cursor: pointer;
  transition: all 0.3s ease;
}
.btn {
  border: 1px solid blue;
  padding: 9px 12px;
  border-radius: 3px;
  letter-spacing: 1px;
  background-color: rgba(0, 0, 255, 0.3);
  transition: 0.2s;
  color: black;
  font-size: 14px;
  width: 100%;
  text-transform: uppercase;
  letter-spacing: 1px;
}

.btn:hover {
  background-color: rgba(0, 0, 255, 0.8);
  color: rgb(255, 255, 255);
}

.message {
  width: 100%;
  text-align: start;
  font-size: 15px;
  color: #333;
}
.message :hover {
  transform: scale(1.5);
  text-shadow: 0 0 10px #ffffff, 0 0 20px #5badf5, 0 0 40px #364dd2;
  transition: 0.8s;
}
/* link styles */
a {
  color: rgb(13, 97, 137);
  text-decoration: none;
}
.msgme {
  width: 100%;
  display: flex;
  gap: 7px;
  flex-direction: column;
  margin-top: 15px;
}
